/* fruits */

.active #fruit_base {
    -webkit-animation: fruit_base 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: fruit_base 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
  
@keyframes fruit_base {
    0%,
    100% {
        -webkit-transform: rotate(0deg) translateY(0);
                transform: rotate(0deg) translateY(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg) translateY(-20px);
                transform: rotate(2deg) translateY(-20px);
    }
    40% {
        -webkit-transform: rotate(-4deg) translateY(9px);
                transform: rotate(-4deg) translateY(9px);
    }
    70% {
        -webkit-transform: rotate(4deg) translateY(-10px);
                transform: rotate(4deg) translateY(-10px);
    }
    90% {
        -webkit-transform: rotate(-2deg) translateY(5px);
                transform: rotate(-2deg) translateY(5px);
    }
}
  
.active #leaf {
    -webkit-animation: leaf 0.1s ease-out forwards;
    animation: leaf 0.1s ease-out forwards;
}
  
@keyframes leaf {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
                transform: rotate(0deg) translate(0, 0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: rotate(-5deg) translate(-30px, -85px);
                transform: rotate(-5deg) translate(-30px, -85px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}
  
.active #fruit_background {
    -webkit-animation: fruit_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: fruit_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes fruit_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        -webkit-transform-origin: 50% 60%;
                transform-origin: 50% 60%;
    }
}

/* candy */

.active #candy_base {
    -webkit-animation: candy_base 0.2s 1 linear;
            animation: candy_base 0.2s 1 linear;
}
  
@keyframes candy_base {
    0% {
        -webkit-transform: rotate(0) translateY(0);
                transform: rotate(0) translateY(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: rotate(360deg) translateY(-20px);
                transform: rotate(360deg) translateY(-20px);
        -webkit-transform-origin: 55% 60%;
                transform-origin: 55% 60%;
    }
}
  
.active #orange_bit {
    -webkit-animation: orange_bit 0.1s ease-out forwards;
            animation: orange_bit 0.1s ease-out forwards;
}
  
@keyframes orange_bit {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(30px) translateY(-110px);
                transform: translateX(30px) translateY(-110px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #green_bit {
    -webkit-animation: green_bit 0.1s ease-out forwards;
            animation: green_bit 0.1s ease-out forwards;
}
  
@keyframes green_bit {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-90px) translateY(-90px);
                transform: translateX(-90px) translateY(-90px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #yellow_bit_1 {
    -webkit-animation: yellow_bit_1 0.1s ease-out forwards;
            animation: yellow_bit_1 0.1s ease-out forwards;
}
  
@keyframes yellow_bit_1 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(30px) translateY(60px);
                transform: translateX(30px) translateY(60px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #yellow_bit_2 {
    -webkit-animation: yellow_bit_2 0.1s ease-out forwards;
            animation: yellow_bit_2 0.1s ease-out forwards;
}
  
@keyframes yellow_bit_2 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(30px) translateY(-260px);
                transform: translateX(30px) translateY(-260px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #orange_bit_1 {
    -webkit-animation: orange_bit_1 0.1s ease-out forwards;
            animation: orange_bit_1 0.1s ease-out forwards;
}
  
@keyframes orange_bit_1 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-70px) translateY(-220px);
                transform: translateX(-70px) translateY(-220px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #orange_bit_2 {
    -webkit-animation: orange_bit_2 0.1s ease-out forwards;
            animation: orange_bit_2 0.1s ease-out forwards;
}
  
@keyframes orange_bit_2 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
        }
    100% {
        -webkit-transform: translateX(-90px) translateY(-200px);
                transform: translateX(-90px) translateY(-200px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #red_bit_1 {
    -webkit-animation: red_bit_1 0.1s ease-out forwards;
            animation: red_bit_1 0.1s ease-out forwards;
}
  
@keyframes red_bit_1 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-190px) translateY(-195px);
                transform: translateX(-190px) translateY(-195px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #purple_bit {
    -webkit-animation: purple_bit 0.1s ease-out forwards;
    animation: purple_bit 0.1s ease-out forwards;
}
  
@keyframes purple_bit {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(190px) translateY(80px);
                transform: translateX(190px) translateY(80px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #red_bit_3 {
    -webkit-animation: red_bit_3 0.1s ease-out forwards;
            animation: red_bit_3 0.1s ease-out forwards;
}
  
@keyframes red_bit_3 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(190px) translateY(30px);
                transform: translateX(190px) translateY(30px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}
  
.active #candy_background {
    -webkit-animation: candy_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: candy_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes candy_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        -webkit-transform-origin: 50% 65%;
                transform-origin: 50% 65%;
    }
}

/* chocolate */

.active #chocolate_bar {
    -webkit-animation: chocolate_bar 0.2s ease-out forwards;
            animation: chocolate_bar 0.2s ease-out forwards;
}
  
@keyframes chocolate_bar {
    0%,
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
                transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
  
.active #chocolate_bit {
    -webkit-animation: chocolate_bit 0.1s ease-out forwards;
            animation: chocolate_bit 0.1s ease-out forwards;
}
  
@keyframes chocolate_bit {
    0% {
        -webkit-transform: rotate(0deg) translateY(0);
                transform: rotate(0deg) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: rotate(-7deg) translateY(-85px);
                transform: rotate(-7deg) translateY(-85px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}
  
.active #chocolate_background {
    -webkit-animation: chocolate_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: chocolate_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes chocolate_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        -webkit-transform-origin: 50% 53%;
                transform-origin: 50% 53%;
    }
}

/* chips */

.active #chip_bag {
    -webkit-animation: chip_bag 0.2s ease-out forwards;
            animation: chip_bag 0.2s ease-out forwards;
}
  
@keyframes chip_bag {
    0%,
    100% {
        -webkit-transform: translate(0, 30px);
                transform: translate(0, 30px);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translate(-30px, 30px) rotate(-6deg);
                transform: translate(-30px, 30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translate(15px, 30px) rotate(6deg);
                transform: translate(15px, 30px) rotate(6deg);
    }
    75% {
        -webkit-transform: translate(-6px, 30px) rotate(-1.2deg);
                transform: translate(-6px, 30px) rotate(-1.2deg);
    }
}
  
.active #chip_1 {
    -webkit-animation: chip_1 0.15s ease-out forwards;
            animation: chip_1 0.15s ease-out forwards;
}
  
@keyframes chip_1 {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
                transform: rotate(0deg) translate(0, 0);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
    100% {
        -webkit-transform: rotate(35deg) translate(20px, 5px);
                transform: rotate(35deg) translate(20px, 5px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #chip_2 {
    -webkit-animation: chip_2 0.1s ease-out forwards;
            animation: chip_2 0.1s ease-out forwards;
}
  
@keyframes chip_2 {
    0% {
        -webkit-transform: rotate(0deg) translate(0);
                transform: rotate(0deg) translate(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: rotate(-10deg) translate(-10px, -170px);
                transform: rotate(-10deg) translate(-10px, -170px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}
  
.active #chips_background {
    -webkit-animation: chips_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: chips_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes chips_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
}

/* crackers */

.active #cracker_1 {
    -webkit-animation: cracker_1 0.2s 1 both;
            animation: cracker_1 0.2s 1 both;
}
  
@keyframes cracker_1 {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    30% {
        -webkit-transform: translateY(-15px) rotate(-6deg);
                transform: translateY(-15px) rotate(-6deg);
    }
    45% {
        -webkit-transform: translateY(15px) rotate(3.6deg);
                transform: translateY(15px) rotate(3.6deg);
    }
    60% {
        -webkit-transform: translateY(-9px) rotate(-2.4deg);
                transform: translateY(-9px) rotate(-2.4deg);
    }
    75% {
        -webkit-transform: translateY(6px) rotate(1.2deg);
                transform: translateY(6px) rotate(1.2deg);
    }
}

.active #cracker_2 {
    -webkit-animation: cracker_2 0.2s 1 both;
            animation: cracker_2 0.2s 1 both;
}
  
@keyframes cracker_2 {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    30% {
        -webkit-transform: translateY(15px) rotate(6deg);
                transform: translateY(15px) rotate(6deg);
    }
    75% {
        -webkit-transform: translateY(-6px) rotate(-1.2deg);
                transform: translateY(-6px) rotate(-1.2deg);
    }
}
  
.active #cracker_bit_1 {
    -webkit-animation: cracker_bit_1 0.1s ease-out forwards;
            animation: cracker_bit_1 0.1s ease-out forwards;
}
  
@keyframes cracker_bit_1 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(26px) translateY(-110px);
                transform: translateX(26px) translateY(-110px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cracker_bit_2 {
    -webkit-animation: cracker_bit_2 0.1s ease-out forwards;
            animation: cracker_bit_2 0.1s ease-out forwards;
}
  
@keyframes cracker_bit_2 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-90px) translateY(-90px);
                transform: translateX(-90px) translateY(-90px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cracker_bit_3 {
    -webkit-animation: cracker_bit_3 0.1s ease-out forwards;
            animation: cracker_bit_3 0.1s ease-out forwards;
}
  
@keyframes cracker_bit_3 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-176px) translateY(60px);
                transform: translateX(-176px) translateY(60px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cracker_bit_4 {
    -webkit-animation: cracker_bit_4 0.1s ease-out forwards;
            animation: cracker_bit_4 0.1s ease-out forwards;
}
  
@keyframes cracker_bit_4 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-130px) translateY(190px);
                transform: translateX(-130px) translateY(190px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cracker_bit_5 {
    -webkit-animation: cracker_bit_5 0.1s ease-out forwards;
            animation: cracker_bit_5 0.1s ease-out forwards;
}
  
@keyframes cracker_bit_5 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(10px) translateY(-110px);
                transform: translateX(10px) translateY(-110px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cracker_bit_6 {
    -webkit-animation: cracker_bit_6 0.1s ease-out forwards;
            animation: cracker_bit_6 0.1s ease-out forwards;
}

@keyframes cracker_bit_6 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(-193px) translateY(0px);
                transform: translateX(-193px) translateY(0px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}
  
.active #crackers_background {
    -webkit-animation: crackers_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: crackers_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes crackers_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(3.5);
                transform: scale(3.5);
        -webkit-transform-origin: 50% 58%;
                transform-origin: 50% 58%;
    }
}

/* cookies */

.active #cookie_base {
    -webkit-animation: cookie_base 0.2s 1 both;
            animation: cookie_base 0.2s 1 both;
}
  
@keyframes cookie_base {
    0%,
    100% {
        -webkit-transform: translateY(0) rotate(0);
                transform: translateY(0) rotate(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    30% {
        -webkit-transform: translateY(-15px) rotate(-6deg);
                transform: translateY(-15px) rotate(-6deg);
    }
    45% {
        -webkit-transform: translateY(15px) rotate(3.6deg);
                transform: translateY(15px) rotate(3.6deg);
    }
    60% {
        -webkit-transform: translateY(-9px) rotate(-2.4deg);
                transform: translateY(-9px) rotate(-2.4deg);
    }
    75% {
        -webkit-transform: translateY(6px) rotate(1.2deg);
                transform: translateY(6px) rotate(1.2deg);
    }
}
  
.active #cookie_bit_1 {
    -webkit-animation: cookie_bit_1 0.1s ease-out forwards;
            animation: cookie_bit_1 0.1s ease-out forwards;
}
  
@keyframes cookie_bit_1 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(100px) translateY(-70px);
                transform: translateX(100px) translateY(-70px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cookie_bit_2 {
    -webkit-animation: cookie_bit_2 0.1s ease-out forwards;
            animation: cookie_bit_2 0.1s ease-out forwards;
}
  
@keyframes cookie_bit_2 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(85px) translateY(0px);
                transform: translateX(85px) translateY(0px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cookie_bit_3 {
    -webkit-animation: cookie_bit_3 0.1s ease-out forwards;
            animation: cookie_bit_3 0.1s ease-out forwards;
}
  
@keyframes cookie_bit_3 {
    0% {
        -webkit-transform: translateX(0) translateY(0);
                transform: translateX(0) translateY(0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: translateX(60px) translateY(-80px);
                transform: translateX(60px) translateY(-80px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #cookie_bit_4 {
    -webkit-animation: cookie_bit_4 0.1s ease-out forwards;
            animation: cookie_bit_4 0.1s ease-out forwards;
}
  
@keyframes cookie_bit_4 {
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
                transform: translate(0, 0) rotate(0);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    45% {
        -webkit-transform: translate(3px, 15px) rotate(3.6deg);
                transform: translate(3px, 15px) rotate(3.6deg);
    }
    75% {
        -webkit-transform: translate(12px, -6px) rotate(-1.2deg);
                transform: translate(12px, -6px) rotate(-1.2deg);
    }
    100% {
        -webkit-transform: translate(16px, 0) rotate(0);
                transform: translate(16px, 0) rotate(0);
    }
}

.active #bite {
        -webkit-animation: bite 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
                animation: bite 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
      
@keyframes bite {
        0% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }
        100% {
                -webkit-transform: scale(0.1);
                        transform: scale(0.1);
                -webkit-transform-origin: 49% 48%;
                        transform-origin: 49% 48%;
        }
}
    
.active #chocolate_chip {
        -webkit-animation: chocolate_chip 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
                animation: chocolate_chip 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
      
@keyframes chocolate_chip {
        0% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }
        100% {
                -webkit-transform: scale(0.1);
                        transform: scale(0.1);
                -webkit-transform-origin: 49% 48%;
                        transform-origin: 49% 48%;
        }
}

.active #cookie_sprinkle_1 {
        -webkit-animation: cookie_sprinkle_1 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
                animation: cookie_sprinkle_1 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
      
@keyframes cookie_sprinkle_1 {
        0% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }
        100% {
                -webkit-transform: scale(0.1);
                        transform: scale(0.1);
                -webkit-transform-origin: 49% 48%;
                        transform-origin: 49% 48%;
        }
}

.active #cookie_sprinkle_2 {
        -webkit-animation: cookie_sprinkle_2 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
                animation: cookie_sprinkle_2 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
      
@keyframes cookie_sprinkle_2 {
        0% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
        }
        100% {
                -webkit-transform: scale(0.1);
                        transform: scale(0.1);
                -webkit-transform-origin: 49% 48%;
                        transform-origin: 49% 48%;
        }
}

.active #cookies_background {
    -webkit-animation: cookies_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: cookies_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}
  
@keyframes cookies_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(4.25);
                transform: scale(4.25);
        -webkit-transform-origin: 49% 48%;
                transform-origin: 49% 48%;
    }
}

/* other */

.active #plate {
    -webkit-animation: plate 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: plate 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes plate {
    0%,
    100% {
        -webkit-transform: rotate(0deg) translateY(0);
                transform: rotate(0deg) translateY(0);
        -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg) translateY(-20px);
                transform: rotate(2deg) translateY(-20px);
    }
    40% {
        -webkit-transform: rotate(-4deg) translateY(9px);
                transform: rotate(-4deg) translateY(9px);
    }
    70% {
        -webkit-transform: rotate(4deg) translateY(-10px);
                transform: rotate(4deg) translateY(-10px);
    }
    90% {
        -webkit-transform: rotate(-2deg) translateY(5px);
                transform: rotate(-2deg) translateY(5px);
    }
}

.active #lid {
    -webkit-animation: lid 0.1s ease-out forwards;
            animation: lid 0.1s ease-out forwards;
}

@keyframes lid {
    0% {
        -webkit-transform: rotate(0deg) translate(0, 0);
                transform: rotate(0deg) translate(0, 0);
        -webkit-transform-origin: 0% 0%;
                transform-origin: 0% 0%;
    }
    100% {
        -webkit-transform: rotate(-15deg) translate(0, -225px);
                transform: rotate(-15deg) translate(0, -225px);
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
    }
}

.active #tray_background {
    -webkit-animation: tray_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: tray_background 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes tray_background {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(2.75);
                transform: scale(2.75);
        -webkit-transform-origin: 50% 72%;
                transform-origin: 50% 72%;
    }
}

.active #stars {
    -webkit-animation: stars 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
            animation: stars 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
}

@keyframes stars {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
    }
    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
        -webkit-transform-origin: 50% 90%;
                transform-origin: 50% 90%;
    }
}
