@value colors: './Colors.module.css';
@value BASE_BLUE, BASE_RED, BASE_RED_HOVER, LIGHT_BLUE_HOVER, DARK_BLUE, LIGHT_BLUE, MID_GREY, LIGHT_GREY, SOFT_BLUE, WHITE from colors;

.base {
    font-weight: 600;
    text-transform: none;
    border-radius: 6px;
    min-width: 80px;
    line-height: 1;
    padding: 12px 16px;
}

.loading {
    padding: 7px 12px;
}

.primary {
    background-color: BASE_BLUE;
    color: WHITE;
}

.primary:hover {
    background-color: DARK_BLUE;
}

.secondary {
    background-color: LIGHT_BLUE;
    color: BASE_BLUE;
}

.secondary:hover {
    background-color: LIGHT_BLUE_HOVER;
    color: DARK_BLUE;
}

.outline {
    background-color: transparent;
    color: BASE_BLUE;
    border: 2px solid BASE_BLUE;
}

.outline:hover {
    background-color: SOFT_BLUE;
    color: DARK_BLUE;
    border: 2px solid DARK_BLUE;
}

.cancel {
    background-color: BASE_RED;
    color: WHITE;
}

.cancel:hover {
    background-color: BASE_RED_HOVER;
    color: WHITE;
}

.base:disabled  {
    background-color: LIGHT_GREY;
    color: MID_GREY;
}

.fullWidth {
    width: 100%;
}

.small {
    font-size: 0.8rem;
    height: 30px;
    min-width: 60px;
    padding: 6px 8px;
}

.small > span {
    line-height: 0.8rem;
}

.large {
    height: 40px;
}

.progress__container {
    height: 24px;
    display: flex;
    align-items: center;
}

.progress__text {
    margin-right: 0.5rem;
}

.secondary__progress {
    color: BASE_BLUE;
}

.mobile.primary:hover {
    background-color: BASE_BLUE;
}

.mobile.primary:active {
    background-color: DARK_BLUE;
}

.mobile.secondary:hover {
    background-color: LIGHT_BLUE;
    color: BASE_BLUE;
}

.mobile.secondary:active {
    background-color: LIGHT_BLUE_HOVER;
    color: DARK_BLUE;
}

.mobile.outline:hover {
    background-color: transparent;
    color: BASE_BLUE;
    border: 2px solid BASE_BLUE;
}

.mobile.outline:active {
    background-color: SOFT_BLUE;
    color: DARK_BLUE;
    border: 2px solid DARK_BLUE;
}    

.mobile.cancel:hover {
    background-color: BASE_RED;
    color: WHITE;
}

.mobile.cancel:active {
    background-color: BASE_RED_HOVER;
    color: WHITE;
}

@media (max-width: 768px) {
    .base {
        padding: 12px 10px;
    }
  
    .loading {
        padding: 7px 12px;
    }
}

@media (max-width: 348px) {
    .base {
        font-size: 0.75rem;
        padding: 12px 6px;
    }

    .loading {
        padding: 6px 12px;
    }
}
