@value colors: './Colors.module.css';
@value BASE_BLUE, BASE_RED, BASE_RED_HOVER, LIGHT_BLUE_HOVER, DARK_BLUE, LIGHT_BLUE, MID_GREY, LIGHT_GREY, SOFT_BLUE, WHITE from colors;

.base {
    font-weight: 600;
    text-transform: none;
    border-radius: 6px;
    min-width: 80px;
}

.primary {
    background-color: BASE_BLUE;
    color: WHITE;
}

.primary:hover {
    background-color: DARK_BLUE;
}

.secondary {
    background-color: LIGHT_BLUE;
    color: BASE_BLUE;
}

.secondary:hover {
    background-color: LIGHT_BLUE_HOVER;
    color: DARK_BLUE;
}

.outline {
    background-color: transparent;
    color: BASE_BLUE;
    border: 2px solid BASE_BLUE;
}

.outline:hover {
    background-color: SOFT_BLUE;
    color: DARK_BLUE;
    border: 2px solid DARK_BLUE;
}

.cancel {
    background-color: BASE_RED;
    color: WHITE;
}

.cancel:hover {
    background-color: BASE_RED_HOVER;
    color: WHITE;
}

.primary:disabled, .secondary:disabled {
    background-color: LIGHT_GREY;
    color: MID_GREY;
}

.fullWidth {
    width: 100%;
}

.small {
    font-size: 0.8rem;
    height: 30px;
    min-width: 60px;
}

.small > span {
    line-height: 0.8rem;
}

.large {
    height: 40px;
}

.progress__container {
    height: 24px;
    display: flex;
    align-items: center;
}

.progress__text {
    margin-right: 0.5rem;
}
