@value DARKER_GREY: #262626;
@value DARK_GREY: #505050;
@value MID_GREY: #ABABAB;
@value LIGHT_GREY: #E4E4E4;
@value INNER_LIGHT_GREY: #F9F9F9;

@value RED: #F44336;
@value DARK_RED: #e03a38;
@value GREEN: #4CAF50;
@value ORANGE: #FFA800;

@value BLACK: #000000;
@value WHITE: #FFFFFF;
@value BASE_BLUE: #1AA1FB;
@value LIGHT_BLUE_HOVER: #A5D9FB;
@value DARK_BLUE: #178DDC;
@value LIGHT_BLUE: #C6E8FE;
@value SOFT_BLUE: #EAF6FF;
@value BASE_RED: #F65967;
@value BASE_RED_HOVER: #CF2E3E;
@value HEADER_GREY: #313131;
