@value colors: './Colors.module.css';
@value BASE_RED, LIGHT_GREY, MID_GREY, DARK_GREY, BASE_BLUE, DARK_BLUE from colors;

.card {
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerTitle {
  font-size: 20px;
  width: 300px;
  align-self: flex-start;
  margin: 0;
  line-height: 22px;
  margin-right: 1rem;
  text-overflow: ellipsis;
}

.headerPrice {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: DARK_BLUE;
}

.body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.image {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.description {
  font-size: 16px;
  margin-top: 1.2rem;
  margin-bottom: 0;
  text-overflow: ellipsis;
}

.quant__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quantity {
  font-weight: 600;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2rem 0;
}

.label {
  font-size: 14px;
  font-weight: bold;
  color: DARK_GREY;
}

.snackTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: DARK_BLUE;
}

.input {
  color: DARK_GREY;
  font-size: 1rem;
  border: 1.5px solid LIGHT_GREY;
  background-color: #f9f9f9;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 0.25rem 0rem;
  margin: 0;
}

.input > * {
  text-align: center;
}

.input__small {
  height: 30px;
  width: 70px;
}

.button {
  width: 80px;
  height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: BASE_BLUE;
  text-transform: none;
  margin: 0.75rem;
  margin-right: 1rem;
  align-self: flex-end;
}

.button:hover {
  background-color: DARK_BLUE;
}

.button:disabled {
  color: MID_GREY;
  background-color: LIGHT_GREY;
}

@media (max-width: 500px) {
  .card {
    overflow-y: auto;
  }
}

.oneButton__footer {
  display: flex;
  justify-content: flex-end;
}