@value colors: './Colors.module.css';
@value DARK_GREY, LIGHT_GREY, RED, BASE_BLUE, INNER_LIGHT_GREY, WHITE, DARK_BLUE from colors;

.input__group {
  display: flex;
  flex-direction: column;
  width: 152px;
  min-height: 86px;
}

.textarea__group {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  min-height: 126px;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input__base {
  width: 100%;
  height: 32px;
  color: DARK_GREY;
  font-size: 14px;
  border: 1.5px solid LIGHT_GREY;
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 0.25rem 0rem;
}

.textarea__base {
  width: 100%;
  color: DARK_GREY;
  font-size: 14px;
  border: 1.5px solid LIGHT_GREY;
  border-radius: 6px;
  font-size: 0.75rem;
  padding: 0.4rem 0rem;
}

.full {
  width: 100%;
}

.input__small {
  min-width: 0;
  width: 120px;
}

.input__focused {
  border: 2px solid BASE_BLUE;
  background-color: WHITE;
}

.input__error {
  border: 2px solid RED;
}

.label__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.label__base {
  margin-bottom: 0.4rem;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: DARK_GREY;
}

.label__focused {
  color: BASE_BLUE;
}

.label__error {
  color: RED;
}

.error__message {
  color: RED;
  font-size: 12px;
  font-weight: 600;
  margin: 0.1rem 0 0.5rem 0;
  text-align: left;
}

.calendar__adornment button {
  padding: 6px;
}

.calendar__adornment > div:first-child {
  width: 100%;
}

@media (max-width: 590px) {
  .input__group {
    width: 100%;
  }
}