@value colors: './Colors.module.css';
@value DARK_GREY, VIOLET, HEADER_GREY, BASE_RED, WHITE from colors;

@value effects: './Effects.module.css';
@value DARK_SHADOW from effects;

.header {
  height: 100px;
  flex-direction: row;
  background-color: WHITE;
  box-shadow: DARK_SHADOW;
}

.bar {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem;
}

.label__text {
  color: HEADER_GREY;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 0;
}

.label__balance {
  color: BASE_RED;
  font-weight: 700;
  margin: 0;
}

.menu__container__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu__container__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icon__container {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0 0.5rem;
  cursor: pointer;
}

.icon__container:focus {
  outline: 0;
}

.icon__base {
  opacity: 30%;
  transition: 0.2s;
}

.icon__base:hover {
  font-weight: bold;
  opacity: 100%;
  fill: BASE_RED;
}

.icon__active {
  font-weight: bold;
  opacity: 100%;
  fill: BASE_RED;
}

.greeting {
  position: fixed;
  left: 3rem;
  color: #ffffff;
  font-weight: 600;
}

.button_logout {
  height: inherit;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  position: fixed;
  right: 0;
  padding: 0;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 0;
  opacity: 50%;
  transition: 0.1s;
}

.button_logout:hover {
  opacity: 100%;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (max-width: 420px) {
  .label__text {
    font-size: 1rem;
    margin: 0;
  }
  
  .label__balance {
    font-size: 1.8rem;
  }

  .icon__base {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 300px) {
  .label__text {
    font-size: 0.8rem;
    margin: 0;
  }
  
  .label__balance {
    font-size: 1.4rem;
  }

  .icon__base {
    width: 2.5rem;
    height: 2.5rem;
  }
}