.header {
  height: 100px;
  display: flex;
  justify-content: center;
}

.header__greeting {
  position: fixed;
  left: 5%;
}

.header__balance.MuiTypography-h4 {
  color: #2e133d;
  font-weight: bold;
}

.header--default-text-color {
  color: #5f5f5f;
}
