@value colors: './Colors.module.css';
@value DARK_GREY, VIOLET from colors;

.header {
  height: 100px;
  display: flex;
  justify-content: center;
}

.greeting {
  position: fixed;
  left: 5%;
  color: DARK_GREY;
  font-weight: 700;
}

.label {
  color: DARK_GREY;
  font-weight: 600;
  margin: 0;
}

.balance {
  color: VIOLET;
  font-weight: 700;
  margin: 0;
}
