@value colors: './Colors.module.css';
@value PURPLE, DARK_PURPLE from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW from effects;

.card {
  margin-top: 200px;
  padding: 8rem;
  box-shadow: DEFAULT_SHADOW;
}

.button__login {
  height: 60px;
  width: 210px;
  color: #ffffff;
  font-weight: 700;
  background-color: PURPLE;
  border-radius: 50px;
  border: 0;
  text-transform: none;
  padding: 1rem 2rem;
  letter-spacing: 0.05rem;
}

.button__login:hover {
  background-color: DARK_PURPLE;
}

.container {
  max-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
