@value colors: './Colors.module.css';
@value DARK_GREY, MID_GREY, LIGHT_GREY, RED, BASE_BLUE, LIGHT_BLUE_HOVER, LIGHT_BLUE, BASE_RED from colors;

.form {
  width: 520px;
}

.title {
  color: DARK_GREY;
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  line-height: 22px;
  text-overflow: ellipsis;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 1rem;  
}

.container > * {
  color: DARK_GREY;
  font-size: 14px;
  font-weight: 500;
  text-align: left;  
}

.deleteIcon__container {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.deleteIcon__container:focus {
  outline: 0;
}

.icon__container:hover {
  opacity: 100%;
}

.deleteIcon {
  height: 1rem;
  width: 1rem;
  opacity: 60%;
  transition: 0.2s;
}

.deleteIcon path {
  fill: BASE_RED;
}

.deleteIcon:hover {
  font-weight: bold;
  opacity: inherit;
}

.frame__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.frame__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.frame__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__control {
  margin-right: 15px;
}

.form__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.valid input[type="text"],
.valid input[type="number"] {
  border: 2px solid BASE_BLUE;
}

.valid .feedback {
  color: BASE_BLUE;
  font-weight: 400;
}

.invalid input[type="text"],
.invalid input[type="number"] {
  border: 2px solid RED;
}

.invalid .feedback {
  color: red;
  font-weight: 400;
}

.input__size__override {
  width: 80px;
}

.bottom {
  display: flex;
  justify-content: flex-end;
}

.label {
  font-size: 14px;
  line-height: 18px;
  color: DARK_GREY;  
  margin-bottom: 5px;
}

.text__sm {
  font-size: 0.7rem;
}

.divide {
  margin-bottom: 1rem;
}

.switch__container {
  display: flex;
  flex-direction: column;
}

.text__sub {
  font-weight: 600;
  margin: 0 0.6rem 0.5rem 0;
}

.switch__label {
  display: flex;
  flex-direction: row;
}

@media (max-width: 590px) {
  .form, form {
    max-width: 380px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .frame__row {
    width: 100%;
    flex-direction: column;
  }

  .switch__container {
    align-items: center;
  }
  
  .frame__column {
    width: 100%;
    flex-direction: column;
    padding: 1rem 0 0 0;
  }
}

@media (max-width: 425px) {
  .form, form {
    width: 340px;
  }
}

@media (max-width: 375px) {
  .form, form {
    width: 300px;
  }
}

@media (max-width: 320px) {
  .form, form {
    width: 100%;
  }
}
