@value colors: './Colors.module.css';
@value LIGHT_GREY, MID_GREY, DARK_GREY, PURPLE, DARK_PURPLE from colors;

.card {
  width: 400px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0.8rem;
  display: flex;
  flex-direction: row;
}

.headerTitle {
  font-size: 18px;
  width: 300px;
  align-self: flex-start;
}

.headerPrice {
  font-size: 18px;
  font-weight: bold;
}

.body {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

.bodyImg {
  width: 200px;
}

.bodyImg > * {
  width: 150px;
  height: 150px;
}


.bodyDescription {
  align-self: flex-start;
}

.description {
  font-size: 15px;
  margin: 1rem;
}

.quantity {
  font-size: 15px;
  font-weight: bold;
  margin: 1rem;
}

.input {
  color: DARK_GREY;
  font-size: 1rem;
  border: 1.5px solid LIGHT_GREY;
  background-color: #f9f9f9;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 0.25rem 0rem;
  margin: 1rem;
  margin-top: 0;
}

.input > * {
  text-align: center;
}

.button {
  width: 80px;
  height: 40px;
  font-weight: 700;
  color: #ffffff;
  background-color: #765ea8;
  text-transform: none;
  margin: 0.75rem;
  margin-right: 1rem;
  align-self: flex-end;
}

.button:hover {
  background-color: DARK_PURPLE;
}

.button:disabled {
  color: MID_GREY;
  background-color: LIGHT_GREY;
}