@value colors: './Colors.module.css';
@value DARK_BLUE, BASE_BLUE, HEADER_GREY from colors;

.base {
  padding-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 1rem 0;
  min-height: 45px;
}

.header__single {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.title {
  text-align: left;
  margin: 0;
}

.suggestBox {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
  align-items: flex-end;
}

.suggestBoxQ {
  margin: 0;
  font-weight: 500;
}

.suggestLabel {
  font-weight: 600;
  color: BASE_BLUE;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
}

.suggestLabel:hover {
  color: DARK_BLUE;
}

.searchbar__container {
  min-height: 68px;
}

.search__container {
  display: flex;
  align-items: center;
}

@media (max-width: 540px) {
  .base {
    padding-top: 0;
  }

  .header {
    margin-top: 0;
    flex-direction: column;
    min-height: 95px;
  }
  
  .suggestBox {
      margin: 1rem 0 0 0;
      align-items: flex-start;
  }

  .search__container {
    justify-content: space-between;
  }
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action__button__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.top_button__container {
  display: flex;
  align-items: center;
}