@value colors: './Colors.module.css';
@value BASE_BLUE, BASE_BLUE_HOVER, DARK_BLUE, DARK_BLUE, LIGHT_BLUE, MID_GREY, LIGHT_GREY from colors;

.actionArea {
  display: flex;
  justify-content: flex-end;
}

.button__base {
  font-weight: 700;
  text-transform: none;
  padding: 8px;
  width: 100px;
  height: 40px;
}

.button__approve {
  color: #ffffff;
  background-color: BASE_BLUE;
  float: right;
}

.button__approve:hover {
  background-color: DARK_BLUE;
}

.button__approve:disabled {
  color: MID_GREY;
  background-color: LIGHT_GREY;
}

.button__decline {
  color: BASE_BLUE;
  background-color: LIGHT_BLUE;
}

.button__decline:hover {
  color: DARK_BLUE;
  background-color: BASE_BLUE_HOVER;
}

.button__decline:disabled {
  color: MID_GREY;
  background-color: LIGHT_GREY;
}
