@value colors: './Colors.module.css';
@value BASE_BLUE, DARK_GREY, LIGHT_GREY, INNER_LIGHT_GREY, WHITE from colors;

.searchBar {
  color: DARK_GREY;
  border: 1.5px solid LIGHT_GREY;
  background-color: WHITE;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.25rem 0rem;
  margin-bottom: 1.5rem;
  width: 250px;
}

.searchBar__focused {
  border: 2px solid BASE_BLUE;
}

.searchBar__left {
  float: left;
  clear: both;
}

.icon__base {
  height: 1rem;
  width: 1rem;
  position: relative;
  bottom: 0.5rem;
  left: 0.3rem;
  margin-left: 4px;
  opacity: 0.25;
}

.snackSearchBar {
  color: DARK_GREY;
  border: 1.5px solid LIGHT_GREY;
  background-color: WHITE;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.25rem 0rem;
  width: 250px;
  margin-right: 1rem;
}

.snackSearchBar__focused {
  border: 2px solid BASE_BLUE;
}

@media (max-width: 425px) {
  .snackSearchBar {
    width: 200px;
  }
}