@value colors: './Colors.module.css';
@value BASE_RED, RED, ORANGE, WHITE, LIGHT_GREY, MID_GREY from colors;

.action__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dot__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  line-height: 1rem;
  transition: 0.1s;
}

.dot__orange {
  color: ORANGE;
  background-color: #ffe7ca;
  border: 3px solid ORANGE;
}

.dot__red {
  color: RED;
  background-color: #fdd9d7;
  border: 3px solid RED;
}

.dot__grey {
  color: MID_GREY;
  background-color: LIGHT_GREY;
  border: 3px solid MID_GREY;
}

.dot__orange:hover {
  background-color: #FFDE9F;
}

.dot__red:hover {
  background-color: #fdc8c4;
}

.dot__grey:hover {
  background-color: #D8D8D8;
}

.shoppingList__item {
  display: flex;
  text-align: left;
  align-items: center;
}

.deleteIcon__container {
  width: 0.8rem;
  height: 0.8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin-right: 0.5rem;
}

.deleteIcon {
  height: 0.8rem;
  width: 0.8rem;
  opacity: 60%;
  transition: 0.2s;
}

.deleteIcon path {
  fill: BASE_RED;
}

.deleteIcon:hover {
  font-weight: bold;
  opacity: inherit;
}

.list__text {
  margin: 0.5rem;
}

.button__container {
  margin-bottom: 1rem;
}
