@value colors: './Colors.module.css';
@value DARK_GREY from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW, DEFAULT_LIFT from effects;

.base {
  width: 230px;
  height: 260px;
  color: white;
  transition: .1s transform;
  margin: 0 0.5rem 1rem 0.5rem;
}

.base:hover {
  box-shadow: DEFAULT_SHADOW;
  transform: DEFAULT_LIFT;
  color: white;
}

.action_area {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.resize_image {
  max-height: 200px;
}

.resize_image_skeleton {
  display: flex;
  height: 80%;
  width: inherit;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label_skeleton {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: DARK_GREY;
  margin-right: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.price_skeleton {
  width: 40px;
  margin-left: 2px;
}

.snack_name {
  max-width: 60%;
  font-size: 16px;
  text-align: left;
  color: DARK_GREY;
  margin-left: 1rem;
  word-break: break-word;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snack_name_skeleton {
  width: 50%;
  margin-left: 1rem;
}

@media (max-width: 600px) {
  .base {
    width: 130px;
    height: 140px;
  }

  .resize_image {
    max-height: 104px;
  }

  .snack_name {
    font-size: 14px;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-size: 16px;
    margin: 0.5rem;
  }
}
