@value colors: './Colors.module.css';
@value DARK_GREY from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW, DEFAULT_LIFT from effects;

.base {
  width: 230px;
  height: 260px;
  color: white;
  transition: .1s transform;
  margin: 0 0.5rem 1rem 0.5rem;
}

.base:hover {
  box-shadow: DEFAULT_SHADOW;
  transform: DEFAULT_LIFT;
  color: white;
}

.action_area {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.resize_image {
  max-height: 200px;
}

.resize_image_skeleton {
  display: flex;
  height: 80%;
  width: inherit;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label_skeleton {
  width: 100%;
  height: calc(100% - 200px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: DARK_GREY;
  margin-right: 1rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.price_skeleton {
  width: 40px;
  margin-left: 2px;
}

.snack_name {
  max-width: 60%;
  font-size: 16px;
  text-align: left;
  color: DARK_GREY;
  margin-left: 1rem;
  word-break: break-word;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snack_name_skeleton {
  width: 50%;
  margin-left: 1rem;
}

@media (max-width: 1280px) {
  .base {
    width: 212px;
    height: 230px;
  }

  .resize_image {
    max-height: 178px;
  }

  .snack_name {
    font-size: 14px;
    margin: 1rem 0rem 1rem 1rem;
  }

  .price {
    font-size: 16px;
    margin: 1rem;
  }
}

@media (max-width: 974px) {
  .base {
    width: 210px;
    height: 228px;
  }

  .resize_image {
    max-height: 178px;
  }
}

@media (max-width: 974px) {
  .base {
    width: 208px;
  }
}

@media (max-width: 960px) {
  .base {
    width: 168px;
    height: 200px;
  }

  .resize_image {
    max-height: 164px;
  }

  .snack_name {
    font-size: 14px;
    margin: 0.5rem 0rem 0.5rem 0.5rem;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-size: 16px;
    margin: 0.5rem;
  }
}

@media (max-width: 614px) {
  .base {
    width: 164px;
    height: 190px;
  }

  .resize_image {
    max-height: 154px;
  }
}

@media (max-width: 600px) {
  .base {
    width: 162px;
    height: 186px;
  }

  .resize_image {
    max-height: 150px;
  }
}

@media (max-width: 580px) {
  .base {
    width: 160px;
    height: 186px;
  }

  .resize_image {
    max-height: 150px;
  }
}

@media (max-width: 574px) {
  .base {
    width: 158px;
    height: 180px;
  }

  .resize_image {
    max-height: 146px;
  }
}

@media (max-width: 568px) {
  .base {
    width: 156px;
  }
}

@media (max-width: 562px) {
  .base {
    width: 154px;
  }
}

@media (max-width: 556px) {
  .base {
    width: 152px;
  }
}

@media (max-width: 550px) {
  .base {
    width: 150px;
  }
}

@media (max-width: 544px) {
  .base {
    width: 148px;
  }
}

@media (max-width: 538px) {
  .base {
    width: 146px;
    height: 160px;
  }

  .resize_image {
    max-height: 124px;
  }
}

@media (max-width: 532px) {
  .base {
    width: 144px;
    height: 158px;
  }

  .resize_image {
    max-height: 124px;
  }
}

@media (max-width: 526px) {
  .base {
    width: 142px;
  }
}

@media (max-width: 520px) {
  .base {
    width: 140px;
  }
}

@media (max-width: 514px) {
  .base {
    width: 138px;
  }
}

@media (max-width: 508px) {
  .base {
    width: 136px;
  }
}

@media (max-width: 502px) {
  .base {
    width: 134px;
  }
}

@media (max-width: 414px) {
  .base {
    width: 174px;
    height: 190px;
  }

  .resize_image {
    max-height: 154px;
  }
}

@media (max-width: 411px) {
  .base {
    width: 172px;
  }
}

@media (max-width: 375px) {
  .base {
    width: 154px;
    height: 170px;
  }

  .resize_image {
    max-height: 134px;
  }
}

@media (max-width: 360px) {
  .base {
    width: 148px;
    height: 170px;
  }
}

@media (max-width: 320px) {
  .base {
    width: 128px;
    height: 150px;
  }

  .resize_image {
    max-height: 114px;
  }
}