.MuiPaper-root {
  width: 240px;
  height: 260px;
}

.MuiButtonBase-root {
  width: inherit;
  height: inherit;
}

.card__image {
  height: 56%;
  margin: 1rem;
}

.card__label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__price {
  font-size: 18px;
  font-weight: bold;
  color: #5f5f5f;
  margin-right: 1rem;
  margin-bottom: 0rem;
}

.card__snackName {
  max-width: 60%;
  font-size: 16px;
  text-align: left;
  color: #5f5f5f;
  margin-left: 1rem;
  margin-bottom: 0rem;
}
