@value colors: './Colors.module.css';
@value DARK_GREY from colors;

.base {
  width: 240px;
  height: 260px;
}

.base:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.action_area {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  height: 90%;
  max-width: 90%;
  max-height: 90%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.resize_image {
  height: 180px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: DARK_GREY;
  margin-right: 1rem;
}

.snack_name {
  max-width: 60%;
  font-size: 16px;
  text-align: left;
  color: DARK_GREY;
  margin-left: 1rem;
  word-break: break-word;
}
