@value colors: './Colors.module.css';
@value GREEN, WHITE, ORANGE, RED, DARK_GREY, LIGHT_GREY, MID_GREY, INNER_LIGHT_GREY, DARK_GREY from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW from effects;

.board__container {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  box-shadow: DEFAULT_SHADOW;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.error__message {
  width: 100%;
  text-align: center;
}

.bar__container {
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
}

.snack__label {
  font-weight: 500;
  color: DARK_GREY;
}

.bar__base {
  margin-top: 0.3rem;
  height: 24px;
  width: 100%;
  color: WHITE;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

.bar__left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.bar__right {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.bar__hide {
  display: none;
}

.stock__low {
  background-color: ORANGE;
}

.stock__under {
  background-color: ORANGE;
}

.stock__over {
  background-color: GREEN;
}

.stock__over__line {
  background-color: GREEN;
  border-right: 3px solid DARK_GREY;
}

.stock__low__line {
  background-color: ORANGE;
  border-right: 3px solid DARK_GREY;
}

.stock__expired {
  background-color: LIGHT_GREY;
  color: DARK_GREY;
}

.stock__reorder {
  background-color: INNER_LIGHT_GREY;
  color: DARK_GREY;
  border: 2px solid LIGHT_GREY;
  border-left: none;
}

.reorder__line {
  border-right: 3px solid DARK_GREY;
}

.bar__mid__full {
  border-radius: 6px;
}

.bar__full {
  border-radius: 6px;
  border: none;
}

.hide {
  display: none;
}

.stock__none {
  background-color: INNER_LIGHT_GREY;
  color: RED;
  justify-content: center;
  border: 2px solid LIGHT_GREY;
  border-radius: 6px;
}

.show__button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 0.25rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.2rem;
  transition: 0.1s;
}

.show__high {
  color: RED;
  background-color: #fdd9d7;
  border: 3px solid RED;
}

.show__all {
  color: GREEN;
  background-color: #AADAAC;
  border: 3px solid GREEN;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

@media (max-width: 960px) {
  .board__container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .board__container {
    width: 100%;
  }
}
