@value colors: './Colors.module.css';
@value BASE_BLUE, LIGHT_BLUE_HOVER, LIGHT_BLUE, DARK_BLUE, DARK_BLUE, MID_GREY, LIGHT_GREY, DARK_GREY, INNER_LIGHT_GREY, ORANGE, RED, GREEN from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW from effects;

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.7rem 0 1rem;
}

.primaryHeader {
  display: flex;
  align-items: center;
  border-bottom: 0;
}

.primaryHeader__text {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.header__row {
  height: 54px;
  background-color: LIGHT_GREY;
}

.secondaryHeader {
  padding: 0;
  padding-left: 1rem;
}

.secondaryHeader__text {
  font-size: 0.95rem;
  color: DARK_GREY;
  margin: 0.5rem 0 0.5rem 0;
}

.cell {
  height: 52px;
  max-height: 52px;
  border-bottom: 0;
  padding: 0 0 0 1rem;
}

.cell__payments__base {
  width: 90px;
  max-width: 115px;
}

.cell__payments__date {
  width: 100px;
  max-width: 100px;
}

.cell__payments__processed {
  width: 115px;
  max-width: 115px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.cell__small {
  width: 25px;
}

.cell__medium {
  width: 130px;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell__large {
  width: 200px;
  max-width: 200px;
}

.cell__pay {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cell__lastChild {
  padding-right: 2rem;
}

.cell__lastChild__noSelect {
  padding-right: 1rem;
  text-overflow: unset;
}

.status__bar {
  font-size: 0.7rem;
  font-weight: 700;
  padding: 5px 12px;
  border-radius: 24px;
  line-height: 1;
  box-shadow: none;
  cursor: text;
}

.status__orange {
  color: ORANGE;
  background-color: #ffe7ca;
}

.status__red {
  color: RED;
  background-color: #fdd9d7;
}

.status__green {
  color: GREEN;
  background-color: #dbefdc;
}

.status__grey {
  color: DARK_GREY;
  background-color: LIGHT_GREY;
}

.button__base {
  font-weight: 700;
  color: #ffffff;
  background-color: BASE_BLUE;
  text-transform: none;
}

.button__base:hover {
  background-color: DARK_BLUE;
}

.button__base:disabled {
  color: MID_GREY;
  background-color: LIGHT_GREY;
}

.button__edit {
  font-weight: 700;
  color: BASE_BLUE;
  background-color: LIGHT_BLUE;
  border: none;
  line-height: 1;
  text-transform: none;
  border-radius: 3px;
}

.button__edit:hover {
  color: DARK_BLUE;
  background-color: LIGHT_BLUE_HOVER;
}

.button__batch_edit {
  cursor: pointer;
  font-weight: 700;
  color: BASE_BLUE;
  background-color: inherit;
  line-height: 1;
  text-transform: none;
}

.button__batch_edit:hover {
  color: DARK_BLUE;
  background-color: inherit;
}

.row {
  border-bottom: 1px solid LIGHT_GREY;
}

.row:hover {
  background-color: INNER_LIGHT_GREY;
}

.row__selectable {
  cursor: pointer;
}

.row__selected {
  background-color: INNER_LIGHT_GREY;
}

.row__sub {
  border: none;
}

.row__sub > td {
  border: none;
}

.row__lastChild {
  border: none;
}

.paper {
  margin-top: 20px;
  box-shadow: DEFAULT_SHADOW;
}

.footer {
  border-top: 1px solid rgba(224, 224, 224, 1);
  padding: 1rem;
}

.pagination {
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.placeholder__container {
  width: 100%;
  height: 416px;
  background-color: INNER_LIGHT_GREY;
}

.placeholder__image__container {
  width: 14%;
  margin: auto;
}

.placeholder__image {
  margin: 0 1.5rem;
  fill: GREY;
}

.placeholder__text {
  margin: 1rem 0;
  text-align: center;
  color: GREY;
}

.header__actionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtable__container {
  border: 0;
  background-color: INNER_LIGHT_GREY;
  padding: 0;
}

.subtable__container > div:first-child {
  border: 0;
}

.row__lastChild__sub {
  border-top: 1px solid LIGHT_GREY;
}

.subtable {
  margin: auto;
  width: 50%;
}

.date__expired {
  color: RED;
  font-weight: 600;
}

.date__expiring {
  color: ORANGE;
  font-weight: 600;
}

.error__row > td {
  border: none;
}

.error__message {
  font-weight: 400;
}

@media (max-width: 959px) {
  .subtable {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .header__actionContainer {
    padding-bottom: 1rem;
  }
}