@value colors: './Colors.module.css';
@value DARKER_GREY, RED, GREEN from colors;

.container {
  bottom: 24px;
}

.toast__base {
  font-weight: 600;
}

.toast__success {
  color: white;
  background-color: DARKER_GREY;
}

.toast__error {
  color: white;
  background-color: DARKER_GREY;
}

@media (max-width: 425px) {
  .container {
    bottom: 70px;
  }
}