@value colors: './Colors.module.css';
@value LIGHT_GREY, WHITE, BASE_BLUE, DARK_BLUE, LIGHT_BLUE, LIGHT_BLUE_HOVER from colors;

@value effects: './Effects.module.css';
@value DEFAULT_SHADOW from effects;

.card__base {
  box-shadow: DEFAULT_SHADOW;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.header > h5 {
  margin: 0;
  text-align: left;
}

.title {
  font-size: 1.2rem;
  margin: 1rem 0.8rem 0 0;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}

.card__container {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-bottom: 1rem;
}

.image {
  width: 100px;
  height: 100px;
  display: flex;
  margin-right: 1rem;
}

.image > img {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border: 1px solid LIGHT_GREY;
}

.card__description {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  align-items: center;
}

.card__description > h6 {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.card__unit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__unit > p {
  margin: 0.2rem 0 0;
  text-align: left;
}

@media (max-width: 1280px) {
  .card__container {
    flex-direction: column;
  }

  .card__description {
    margin-top: .75rem;
  }

  .card__unit > p {
    margin: 0;
  }

  .image {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .card__description {
    margin-top: .5rem;
  }
}

@media (max-width: 768px) {
  .image {
    width: 80px;
    height: 80px;
  }

  .card__description > h6 {
    font-size: 14px;
  }
}

@media (max-width: 524px) {
  .select__container {
    margin-top: 0.5rem;
  }
}

@media (max-width: 425px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card__container {
    flex-direction: row;
    width: 50%;
    margin-bottom: 1rem;
  }

  .image {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
  }

  .card__description {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .image {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
  }
}

@media (max-width: 320px) {
  .container {
    flex-direction: column;
  }

  .card__container {
    width: 100%;
  }

  .image {
    width: 60px;
    height: 60px;
  }
}
