@value colors: './Colors.module.css';
@value DARK_GREY, LIGHT_GREY, INNER_LIGHT_GREY from colors;

.searchBar {
  color: DARK_GREY;
  border: 1.5px solid LIGHT_GREY;
  background-color: INNER_LIGHT_GREY;
  border-radius: 3px;
  font-size: 0.75rem;
  padding: 0.25rem 0rem;
  margin-bottom: 1rem;
}

.searchBar__focused {
  background-color: WHITE;
}

.searchBar__left {
  margin-left: 0.5rem;
  float: left;
  clear: both;
}

.icon__base {
  height: 1rem;
  width: 1rem;
  position: relative;
  bottom: 0.5rem;
  left: 0.3rem;
}
