@value colors: './Colors.module.css';
@value DARK_GREY, LIGHT_GREY, VIOLET from colors;

.searchBar {
  color: DARK_GREY;
  border: 1.5px solid LIGHT_GREY;
  background-color: white;
  border-radius: 3px;
  font-style: italic;
  font-size: 0.75rem;
  padding: 0.25rem 2rem;
  margin-bottom: 1rem;
}
